*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 130%;
    background-image: url(image.png/background.png.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}
.container .btn{
    display: inline-block;
    font-size: x-large;
    position: absolute;
    border-top-left-radius: 0%;
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);
}
.navbar .btn{
    display: inline-block;
    font-size: small;
    position: relative;
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);
    width: 10%;
    height: 5vh;
    margin: auto;
    display: flex;
    align-items: center;
}
nav .btn{
    flex: 1;
    text-align: center;
    padding-left: 100px;
}
nav ul li .btn{
    display: inline-block;
    list-style: none;
    margin: 15px 20px;
}
nav ul li a .btn{
    text-decoration: none;
    color: purple;
}
.container h1{
    font-style: inherit;
    font-size: 20px;
    font-weight: 80;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 20%;
    color: rgb(102, 20, 102);
}
.content h2{
    font-size: 50px; 
    font-weight: 100;
    position: absolute;
    top: 38%;
    margin-top: 20px;
    margin-bottom: 10px;
    color: rgb(211, 83, 211);
}
.content p{
    font-size: 20px;
    position: absolute;
    top: 58%;
    color: rgb(55, 25, 55);
}
.content {
    margin-left: 10%;
    margin-top: 5%;
}
.content .btn{
    display: inline-block;
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    position: absolute;
    top: 35%;
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);
}
.feature-img{
    height: 100%;
    width: 28%;
    position: absolute;
    bottom: 0;
    right: 100px;
    margin-right: -100px;
}
.social-links{
    transform: rotate(-90deg);
    position: absolute;
    left: -80px;
    bottom: 180px;
}
.social-links a{
    text-decoration: none;
    color: rgb(135, 18, 135);
    padding-right: 20px;
    font-size: 14px;
}